*{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
}

.contact-form {

    font-size: 25px;
}

.contact-form h2 {
    display: inline-block;/* sirve para volver una propiedad en bloque en una en linea*/
    background-color: red;
    padding: 100px;
    box-sizing: border-box;
    text-align: center;/* sirve para centrar el texto*/
    margin: 10px;
    border-radius: 2em;
    border: 10px ridge blue;
    box-shadow: 10px 10px 10px;
    text-shadow: 2px 2px 7px #fff,2px 2px 7px #fff;
    transform: rotate(45deg);
}
